.new-todo{
    min-width: 300px;
    text-align: left;
}


.input-box{
    text-align: left;
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
    font-size: 1.4rem;
    color: blanchedalmond;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid blanchedalmond;
}